.home-container {
  width: 40%;
  margin: auto;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;

  h1 {
    text-align: center;
    font-size: 4rem;
  }

  button {
    font-size: 4rem;
    background-color: var(--color-primary-3);
    color: white;
    border-radius: 3.4rem;
    padding: .4rem;
    margin: .6rem;
    outline: none;
  }

  button:active {
    background-color: var(--color-primary-4);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  p {
    font-size: 2rem;
  }
}
